/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --secondery-color: #ececec;
  --main-transition: 0.3s;
  --main-padding: 100px;
  --font-color: #777777;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* END GLOBAL RULES */

/* Start  MEDIA CONDITIONS */

@media (min-width: 768px) {
  .container {
    width: 700px;
  }

  .main-heading {
    margin-left: 300px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .main-heading {
    margin-left: 300px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .main-heading {
    margin-left: 550px;
  }
}

/* END MEDIA CONDITIONS */

/* START COMPONENTS */
.main-heading {
  margin-top: 100px;
  margin-bottom: 100px;
  width: fit-content;
  height: 60px;
  border: 2px solid black;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}

.main-heading h1 {
  margin: 7px 15px;
}
/* END COMPONENTS */

/* START HOVER */
.head ul a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

.head .container li a:hover::before {
  width: 100%;
}

.main-heading:hover::before {
  z-index: -1;
  animation: left-ball 0.5s linear forwards;
}

.main-heading:hover::after {
  z-index: -1;
  animation: right-ball 0.5s linear forwards;
}

.main-heading:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
  z-index: 2;
}

.gallery .main-heading:hover {
  border-color: white;
}

.artical ul li:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.gallery .img-box ul img:hover {
  transform: rotate(5deg) scale(1.1);
}

.gallery .img-box ul li:hover::before {
  animation: flashing 0.7s;
}

.features ul li .skew {
  border-style: solid;
  border-width: 0px 0px 176px 500px;
  border-color: white transparent;
  position: absolute;
  top: 21%;
  right: 0px;
  bottom: 0px;
  width: 0px;
  height: 0px;
  z-index: 2;
  transition: var(--main-transition);
}

.features ul li:hover .text + div::before {
  width: 100%;
}

.features ul li:hover .text + div a {
  color: white;
}

.team-members .member ul i:hover {
  color: var(--main-color);
}

.team-members .member:hover img {
  filter: grayscale(100%);
}

.team-members .member:hover::after {
  width: 310px;
}

.team-members .member:hover h1 {
  color: var(--font-color);
}

.services .box:hover {
  transform: translateY(-10px);
}

.services .box:hover::before,
.services .box:hover::after {
  width: 100%;
}

.events .counter ul li:hover {
  border-color: var(--main-color-alt);
}

.events form .submit-input:hover {
  background-color: var(--main-color-alt);
}

.pricing .price .botton:hover {
  background-color: var(--main-color-alt);
  color: white;
}

.pricing .price:hover::before {
  left: 0px;
}

.pricing .price:hover::after {
  right: 0px;
}

.video .info ul li:hover a {
  color: var(--main-color);
}

.video .info ul li:hover {
  background-color: #fafafa;
}

.heading h1:hover .stat {
  background-color: violet;
}

.stats .stat:hover::before,
.stats .stat:checked::after {
  height: 100%;
}

.discount .input-submit:hover {
  background-color: var(--main-color-alt);
}

.the-end a.facebook:hover i {
  background-color: #1877f2;
}

.the-end a.twitter:hover i {
  background-color: #1da1f2;
}

.the-end a.youtube:hover i {
  background-color: #ff0000;
}

.the-end .links li:hover a {
  transform: translateX(10px);
  color: white;
}

.head-menu ul li:hover .head-menu ul li::before {
  width: 100%;
}

.head .li-menu:hover .head-menu {
  visibility: visible;
  transform: translateY(-20px);
}

/* END HOVER */

/* START BEFORE  */
.head ul li a::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 7px;
  width: 0px;
  height: 4px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}

.head-menu ul li::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: #f9f9f9;
  position: absolute;
  transition: var(--main-transition);
}

.landing::before {
  content: "";
  position: absolute;
  background-color: #ececec;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: skewy(-7deg);
  transform-origin: top left;
}

.gallery .img-box ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 10px;
  height: 10px;
  z-index: 2;
  opacity: 0;
}

.features .text + div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translatey(-50%);
  width: 0%;
  height: 100%;
  transition: var(--main-transition);
  z-index: -1;
}

.features .botton-1::before {
  background-color: #f44036;
}

.features .botton-2::before {
  background-color: #009688;
}

.features .botton-3::before {
  background-color: #03a9f4;
}

.team-members .member::before {
  content: "";
  width: 80%;
  height: 120%;
  background-color: #f3f3f3;
  position: absolute;
  top: -50px;
  left: 40px;
  border-radius: 3%;
  z-index: -1;
}

.pricing .price ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}

.pricing #price-2 .box::before {
  content: "Most Populer";
  writing-mode: vertical-rl;
  background-color: var(--main-color-alt);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  width: 20px;
  height: 130px;
  background-color: var(--main-color-alt);
  position: absolute;
  right: 25px;
  top: -15px;
}

.the-end .elzero .links a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

/* END BEFORE  */

/* START AFTER  */
.artical a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f061";
  margin-left: 120px;
  animation: read-more 0.5s linear infinite;
}

.features ul li h1::after {
  content: "";
  top: 55px;
  position: absolute;
  height: 4px;
  background-color: black;
}

.features ul li .h1-1::after {
  width: 90px;
  background-color: #f44036;
  left: 100px;
}

.features ul li .h1-2::after {
  width: 60px;
  background-color: #009688;
  left: 115px;
}

.features ul li .h1-3::after {
  width: 110px;
  background-color: #03a9f4;
  left: 90px;
}

.team-members .member::after {
  content: "";
  width: 0px;
  height: 450px;
  background-color: #e4e4e4;
  position: absolute;
  top: -50px;
  right: 34px;
  border-radius: 3%;
  z-index: -1;
  transition: var(--main-transition);
}

.detailes .box .foot h2::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 75px;
  width: 45px;
  height: 100%;
  background-color: #d5d5d5;
  transform: skewx(-20deg);
}

.pricing #price-2 .box::after {
  content: "";
  position: absolute;
  top: 120px;
  right: 25px;
  width: 0px;
  height: 0px;
  border-width: 20px;
  border-color: transparent transparent white transparent;
  border-style: solid;
}

.video .info ul li h1::after {
  content: "\f074";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
  right: 0px;
}
/* END AFTER */

/* START AFTER & BEFOR */
.main-heading::before,
.main-heading::after {
  content: "";
  background-color: var(--main-color);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.6s;
  z-index: -1;
}

.main-heading::before {
  left: -30px;
}

.main-heading::after {
  right: -30px;
}

.events .box::before,
.events .box::after {
  content: "";
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Three/imgs/dots.png);
  background-size: cover;
  width: 205px;
  height: 185px;
  position: absolute;
}

.events .box::before {
  top: 440px;
  left: 0px;
}

.events .box::after {
  top: 55px;
  right: 0px;
}

.pricing .plans::before,
.pricing .plans::after {
  content: "";
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Three/imgs/dots.png);
  background-size: cover;
  width: 190px;
  height: 180px;
  position: absolute;
}

.pricing .plans::after {
  bottom: 115px;
  left: -190px;
}

.pricing .plans::before {
  left: 1050px;
  top: -40px;
  z-index: -1;
}

.pricing .price::before,
.pricing .price::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #f6f6f6;
  transition: var(--main-transition);
  z-index: -1;
}

.pricing .price::after {
  bottom: 0px;
  right: -400px;
}

.pricing .price::before {
  left: -400px;
}

.services .box.box::before,
.services .box::after {
  content: "";
  position: absolute;
  top: 0px;
  background-color: var(--main-color);
  height: 3px;
  transition: 0.5s;
}

.services .box::before {
  left: 50%;
  width: 0px;
}

.services .box::after {
  right: 50%;
  width: 0px;
}

.stats .stat::before,
.stats .stat::after {
  content: "";
  background-color: var(--main-color);
  width: 2px;
  height: 0px;
  position: absolute;
  transition: var(--main-transition);
}

.stats .stat::before {
  bottom: 0px;
  left: 0px;
}

.stats .stat::after {
  top: 0px;
  right: 0px;
}
/* END AFTER & BEFOR */

/*START ANIMATION */
@keyframes up-and-down {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: -50px;
  }
}

@keyframes left-ball {
  50% {
    width: 12px;
    height: 12px;
  }

  100% {
    border-radius: 0;
    width: 49.8%;
    height: 100%;
    left: 0px;
  }
}

@keyframes right-ball {
  50% {
    right: 0px;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0px;
    border-radius: 0;
    width: 49.7%;
    height: 100%;
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes arrow {
  40% {
    transform: translateY(-10px);
  }
  50%,
  100% {
    transform: translateY(10px);
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
/* END ANIMATION */

/* START HEAD */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .head .container {
    padding: 10px;
    justify-content: space-between;
  }
}

/* Medum */
@media (min-width: 992px) {
  .head .container {
    justify-content: start;
  }
}
/* Large */
@media (min-width: 1200px) {
  .head .container {
    padding: 0px 15px;
    justify-content: space-between;
  }
}
/* END MEDIA CONDITIONS */

.head {
  margin-left: 100px;
}

.head .container {
  display: flex;
  align-items: center;
}

.head .container h1 {
  color: var(--main-color);
  font-size: 26px;
}

.head ul {
  display: flex;
}

.head ul li a {
  align-items: center;
  height: 72px;
  position: relative;
  padding: 20px 30px;
  font-size: 18px;
  transition: var(--main-transition);
}

.head .head-menu {
  background-color: white;
  width: 85%;
  height: 62%;
  position: absolute;
  z-index: 2;
  top: 90px;
  transition: var(--main-transition);
  visibility: hidden;
}

.head .head-menu img {
  position: absolute;
  width: 500px;
  bottom: 30px;
  left: 30px;
}

.head-menu .links {
  display: flex;
  position: absolute;
  right: 0px;
}

.head-menu ul {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.head-menu ul a {
  font-size: 25px;
  font-weight: bolder;
  color: var(--main-color-alt);
  margin-bottom: -15px;
}

.head-menu ul li {
  display: flex;
  text-align: center;
  width: 300px;
  border-bottom: 1px solid #ececec;
  position: relative;
  overflow: hidden;
}
/* END HEAD */

/* START LANDING */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .landing img {
    visibility: hidden;
  }

  .landing a i {
    left: 400px;
  }
}

/* Medum */
@media (min-width: 992px) {
  .landing img {
    visibility: hidden;
  }

  .landing a i {
    left: 380px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .landing img {
    visibility: visible;
  }

  .landing a i {
    left: 700px;
  }
}
/* END MEDIA CONDITIONS */

.landing {
  position: relative;
  overflow-x: hidden;
  height: 520px;
  z-index: -1;
}

.landing .container {
  display: flex;
  padding-top: 110px;
  padding-left: 0px;
  position: relative;
  left: 100px;
  z-index: 2;
}

.landing img {
  position: absolute;
  margin-top: 20px;
  left: 580px;
  height: 380px;
  z-index: 2;
  animation: up-and-down 5s linear infinite;
}

.landing .text h1 {
  font-size: 40px;
  line-height: 0px;
}

.landing .text p {
  font-size: 23px;
  line-height: 2;
  color: #666666;
}

.landing a i {
  font-size: 2em;
  font-weight: 900px;
  position: absolute;
  bottom: 0px;
  color: var(--main-color);
  animation: bouncing 1.5s infinite;
}

/* END LANDING */

/* START ARTICAL */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .artical .img-box ul {
    flex-wrap: wrap;
    width: 700px;
  }

  .artical .img-box ul li {
    width: 40%;
    height: 30%;
  }
}

/* Large */
@media (min-width: 1200px) {
  .artical .img-box ul li {
    width: 250px;
    height: 355px;
  }

  .artical .img-box ul {
    flex-wrap: wrap;
    width: 1300px;
  }
}
/* END MEDIA CONDITIONS */

.artical {
  padding-top: var(--main-padding);
  position: relative;
}

.artical .img-box {
  padding-top: var(--main-padding);
}

.artical .img-box ul {
  display: flex;
  justify-content: center;
}

.artical .img-box ul li {
  position: relative;
  margin-left: 40px;
  box-shadow: 0 2px 15px 0px rgb(0 0 0 / 10%);
  margin-bottom: 20px;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}

.artical .img-box .text p {
  line-height: 1.5;
  font-size: 16px;
  color: #777777;
}

.artical .img-box .text {
  padding: 0px 15px;
  border-bottom: 1px solid #e6e6e7;
}

.artical .img-box img {
  width: 100%;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
}

.artical .img-box h1 {
  font-size: 20px;
}

.artical .foot {
  padding: 15px;
}

.artical .foot a {
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
}
/* END ARTICAL */

/* START GALLERY  */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .gallery .img-box {
    margin-left: 0px;
  }

  .gallery .img-box ul {
    width: 700px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .gallery .img-box {
    margin-left: 40px;
  }

  .gallery .img-box ul {
    width: 1200px;
  }
}
/* END MEDIA CONDITIONS */

.gallery {
  padding-top: var(--main-padding);
  background-color: #ececec;
}

.gallery .img-box ul {
  display: flex;
  margin-bottom: 30px;
}

.gallery .img-box ul li {
  width: 390px;
  margin-left: 30px;
  border: 15px solid white;
  overflow: hidden;
  perspective: 800px;
}

.gallery .img-box ul li img {
  width: 100%;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
/* END GALLERY */

/* START Features */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .features ul li img {
    visibility: hidden;
  }

  .features ul li img + div {
    visibility: hidden;
  }

  .features ul li .skew {
    border-color: transparent;
  }

  .features ul li {
    height: 345px;
  }

  .features ul li .text {
    margin-top: -445px;
  }

  .features ul {
    flex-wrap: wrap;
    margin-left: -255px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .features ul li img {
    visibility: visible;
  }

  .features ul li img + div {
    visibility: visible;
  }

  .features ul li .skew {
    border-color: white transparent;
  }

  .features ul li {
    height: 800px;
  }

  .features ul {
    flex-wrap: nowrap;
    margin-left: 0px;
  }

  .features ul li .text {
    margin-top: 0px;
  }
}
/* END MEDIA CONDITIONS */

.features ul {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin-top: 50px;
}

.features ul li {
  width: 370px;
  margin-left: 35px;
  border: 1px solid #ececec;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.features ul li img {
  width: 100%;
  height: 340px;
  z-index: 1;
}

.features ul li img + div {
  width: 100%;
  height: 340px;
  position: absolute;
  z-index: 2;
  top: 0px;
}

.features ul li:hover .skew {
  border-width: 0px 500px 173px 0px;
}

.features ul li .overlay-1 {
  background-color: rgb(244 64 54 / 60%);
}

.features ul li .overlay-2 {
  background-color: rgb(0 150 136 / 60%);
}

.features ul li .overlay-3 {
  background-color: rgb(3 169 244 / 60%);
}

.features ul li .text {
  padding: 30px;
  text-align: center;
}

.features ul li h1 {
  font-size: 40px;
  margin-top: 100px;
  position: relative;
}

.features ul li p {
  line-height: 2;
  color: #777777;
  font-size: 20px;
}

.features ul li .text + div {
  border-radius: 1vh;
  padding: 10px 0px;
  width: 115px;
  height: 50px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 120px;
  position: relative;
  z-index: 2;
}

.features ul li .botton-1 {
  border: 3px solid #f44036;
  color: #f44036;
}

.features ul li .botton-1 a {
  color: #f44036;
  z-index: 2;
}

.features ul li .botton-2 {
  border: 3px solid #009688;
  color: #009688;
}

.features ul li .botton-2 a {
  color: #009688;
  z-index: 2;
}

.features ul li .botton-3 {
  border: 3px solid #03a9f4;
  color: #03a9f4;
}

.features ul li .botton-3 a {
  color: #03a9f4;
  z-index: 2;
}
/* END Features */

/* START TESTIMONIALS */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .testimonials .person {
    width: 290px;
  }

  .testimonials .person h1 + div {
    left: 210px;
  }

  .testimonials .costomers {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    margin-left: 70px;
    width: 700px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .testimonials .person {
    width: 350px;
  }

  .testimonials .person h1 + div {
    left: 260px;
  }

  .testimonials .costomers {
    grid-template-columns: repeat(auto-fill, minmax(340px, 2fr));
    margin-left: 80px;
    width: 1200px;
  }
}
/* END MEDIA CONDITIONS */

.testimonials {
  background-color: var(--secondery-color);
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 100px;
}

.testimonials .costomers {
  display: grid;
  row-gap: 30px;
}

.testimonials .person {
  background-color: white;
  padding: 15px 0px 15px 15px;
  border-radius: 3%;
  position: relative;
}

.testimonials .person h1 {
  font-size: 18px;
}

.testimonials .person h2 {
  font-size: 16px;
  color: var(--font-color);
  font-weight: normal;
}

.testimonials .person p {
  color: var(--font-color);
  line-height: 1.5;
}

.testimonials .person h1 + div {
  position: absolute;
  top: -45px;
  border: 10px solid var(--secondery-color);
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials .person img {
  width: 100%;
}

.testimonials ul {
  display: flex;
  margin-left: -35px;
  color: #ffc107;
  margin-top: -5px;
  margin-bottom: -5px;
}

.testimonials ul li {
  margin-left: 3px;
}

.testimonials #star-5 {
  color: black;
}
/* END  TESTIMONIALS  */

/* START TEAM MEMBERS */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .team-members .member {
    width: 260px;
    height: 285px;
  }

  .team-members .member ul {
    left: 175px;
    top: 35px;
  }

  .team-members .team {
    grid-template-columns: repeat(2, minmax(300px, 2fr));
    width: 740px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .team-members .member ul {
    left: 270px;
    top: 55px;
  }

  .team-members .member {
    width: 385px;
    height: 380px;
  }

  .team-members .team {
    grid-template-columns: repeat(3, minmax(300px, 2fr));
    width: 1150px;
  }
}
/* END MEDIA CONDITIONS */

.team-members .team {
  display: grid;
  row-gap: 130px;
  margin-left: 100px;
}

.team-members img {
  width: 75%;
  border-radius: 3%;
  transition: var(--main-transition);
}

.team-members .member {
  position: relative;
}

.team-members .member ul {
  position: absolute;
}

.team-members .member ul i {
  margin-bottom: 30px;
  color: var(--font-color);
}

.team-members .member h1 {
  color: var(--main-color);
  font-size: 22px;
  margin-left: 65px;
}

.team-members .member p {
  font-size: 16px;
  margin-top: -5px;
  margin-left: 65px;
}
/*  END TEAM MEMBERS  */

/* START SERVICES */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .services .detailes {
    grid-template-columns: repeat(2, minmax(300px, 2fr));
    margin-left: 50px;
    width: 0px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .services .detailes {
    grid-template-columns: repeat(3, minmax(300px, 2fr));
    margin-left: 110px;
    width: 1100px;
  }
}
/* END MEDIA CONDITIONS */

.services {
  background-color: var(--secondery-color);
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.detailes {
  margin-top: 50px;
  display: grid;
  column-gap: 70px;
  row-gap: 40px;
}

.detailes .box {
  background-color: white;
  text-align: center;
  padding-top: 20px;
  width: 340px;
  height: 228px;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  position: relative;
  overflow: hidden;
}

.detailes h1 {
  color: var(--main-color);
  font-size: 25px;
}

.detailes i {
  color: #d5d5d5;
}

.detailes .box .foot {
  position: relative;
  background-color: #f9f9f9;
  height: 50px;
  bottom: -20px;
}

.detailes h2 {
  color: white;
  background-color: var(--main-color);
  width: 100px;
  height: 100%;
  font-size: 35px;
  text-align: left;
  padding-left: 15px;
  padding-top: 5px;
  position: relative;
}

.detailes .box .foot p {
  position: absolute;
  top: 0px;
  right: 10px;
  color: var(--main-color-alt);
}
/* END SERVICES */

/* START SKILLS */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .skills .box {
    flex-wrap: wrap;
    margin-left: 50px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .skills .box {
    flex-wrap: nowrap;
    margin-left: 110px;
  }
}
/* END MEDIA CONDITIONS */

.skills .box {
  display: flex;
}

.skills .skills-type {
  margin-left: 50px;
}

.skills .precent .type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
}

.skills .precent .type h1 {
  font-size: 19px;
}

.skills .precent .type p {
  border: 1px solid var(--secondery-color);
  border-radius: 5px;
  color: var(--main-color);
  padding: 5px;
  font-size: 12px;
}

.skills .precent .valu {
  background-color: var(--secondery-color);
  width: 100%;
  height: 30px;
  position: relative;
  margin-top: 10px;
}

.skills .precent .valu span {
  background-color: var(--main-color);
  height: 100%;
  position: absolute;
}
/* END SKILLS */

/* START Work */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .work .subjects {
    flex-wrap: wrap;
  }

  .work img {
    width: 400px;
    height: 400px;
  }

  .work .main-heading {
    margin-bottom: 0px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .work .subjects {
    flex-wrap: nowrap;
  }

  .work img {
    width: 450px;
    height: 470px;
  }

  .events img {
    visibility: visible;
  }

  .work .main-heading {
    margin-bottom: 110px;
  }
}
/* END MEDIA CONDITIONS */

.work {
  background-color: var(--secondery-color);
  margin-top: 100px;
  padding: 50px;
}

.work .subjects {
  display: flex;
  margin-bottom: 50px;
}

.work img {
  margin: 100px 100px 0px 20px;
}

.work .learning {
  display: grid;
  grid-template-rows: repeat(3, minmax(200px, 2fr));
  gap: 10px;
}

.work .learning .feilde {
  background-color: #f6f5f5;
  width: 600px;
  height: 190px;
  padding: 10px;
  position: relative;
  border: 2px solid white;
}

.work .learning .text {
  margin-left: 120px;
}

.work .learning .text h1 {
  font-size: 22px;
}

.work .learning .text p {
  font-size: 18px;
  color: var(--font-color);
  line-height: 2;
}

.work .learning img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50px;
  margin: 15px;
}

/* END WORK */

/* START EVENTS  */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .events img {
    visibility: hidden;
  }

  .events .box::before,
  .events .box::after {
    visibility: hidden;
  }

  .events .counter {
    margin-left: -930px;
  }

  .events .counter h3 {
    margin-left: 100px;
  }

  .events form {
    margin-left: 120px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .events .counter {
    margin-left: 50px;
  }

  .events .box::before,
  .events .box::after {
    visibility: visible;
  }

  .events .counter h3 {
    margin-left: 120px;
  }

  .events form {
    margin-left: 380px;
  }
}
/* END MEDIA CONDITIONS */

.events {
  position: relative;
}

.events .box {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  width: 1170px;
}

.events img {
  width: 450px;
  margin-top: -50px;
}

.events ul {
  display: flex;
  margin-left: 50px;
}

.events ul li {
  border: 1px solid #d4d4d4;
  width: 80px;
  border-radius: 6px;
  margin-left: 10px;
  text-align: center;
  transition: var(--main-transition);
}

.events ul li h1 {
  color: var(--main-color);
  font-size: 35px;
  padding: 0px 20px;
  margin-bottom: 30px;
  margin-top: 15px;
  text-align: center;
}

.events ul li h2 {
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  padding-top: 5px;
  margin-top: -20px;
  font-weight: normal;
}

.events .counter h3 {
  font-size: 30px;
}

.events .counter p {
  line-height: 2;
  color: var(--font-color);
  font-size: 19px;
  margin-top: -10px;
  text-align: center;
}

.events form {
  display: flex;
  width: 600px;
  margin-top: 80px;
  border-radius: 50px;
  background-color: var(--secondery-color);
  border: 30px solid var(--secondery-color);
}

.events form .email-input {
  border-radius: 50px;
  border: none;
  width: 400px;
  padding-left: 15px;
}

.events form .submit-input {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  width: 120px;
  height: 60px;
  color: white;
  margin: 0px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition);
}
/* END EVENTS */

/* START PRICING */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .pricing .plans {
    width: 770px;
    grid-template-columns: repeat(2, minmax(400px, 2fr));
  }

  .pricing #price-2 + div {
    margin-top: 50px;
    left: 215px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .pricing .plans {
    margin-left: 100px;
    width: 1100px;
    grid-template-columns: repeat(3, minmax(400px, 2fr));
  }

  .pricing #price-2 {
    transform: translateY(-30px);
  }

  .pricing #price-2 + div {
    margin-top: 0px;
    left: 0px;
  }
}
/* END MEDIA CONDITIONS */

.pricing {
  background-color: var(--secondery-color);
  padding-top: 30px;
  margin-top: 150px;
  padding-bottom: 100px;
}

.pricing .plans {
  display: grid;
  position: relative;
  z-index: 2;
}

.pricing .price {
  background-color: white;
  width: 360px;
  height: 750px;
  overflow: hidden;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  z-index: 2;
}

.pricing .price .box {
  text-align: center;
}

.pricing .price h1 {
  font-size: 25px;
}

.pricing .price h2 {
  color: var(--main-color-alt);
  font-size: 60px;
  margin-top: 25px;
}

.pricing .price img {
  width: 80px;
  position: relative;
}

.pricing .price p {
  margin-top: -50px;
  margin-left: 0px;
  color: var(--font-color);
}

.pricing .price ul {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-size: 16px;
  margin-left: -25px;
}

.pricing .price ul li {
  width: 100%;
  border-top: 1px solid var(--secondery-color);
  padding: 20px;
  margin-left: -10px;
}

.pricing .price .botton {
  margin-top: 50px;
  border: 2px solid var(--main-color);
  border-radius: 7px;
  margin-left: 110px;
  transition: var(--main-transition);
  width: 135px;
  color: var(--main-color);
  font-weight: bold;
  padding: 15px 20px;
}
/* END PRICING */

/* START VIDEO */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .video .video-img img {
    width: 650px;
    height: 440px;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 10px;
  }

  .video .info ul {
    visibility: hidden;
  }

  .video .video-img {
    width: 700px;
    height: 500px;
    margin-left: -400px;
  }

  .video .video-img .hosts {
    margin-top: 50px;
  }

  .video .hosts {
    font-size: 20px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .video .video-img img {
    width: 810px;
    height: 440px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .video .info ul {
    visibility: visible;
  }

  .video .video-img {
    width: 830px;
    height: 640px;
    margin-left: 0px;
  }

  .video .video-img .hosts {
    margin-top: 115px;
  }

  .video .hosts {
    font-size: 16px;
  }
}
/* END MEDIA CONDITIONS */

.video .box {
  display: flex;
  margin-left: 120px;
  width: 1180px;
}

.video .info {
  display: flex;
  flex-wrap: wrap;
}

.video .info ul .first-li {
  background-color: #f4f4f4;
  margin-top: 0px;
}

.video ul li h1 {
  font-size: 16px;
  position: relative;
}

.video .info ul {
  border: 1px solid var(--secondery-color);
  width: 300px;
}

.video .info ul li {
  padding: 10px;
  margin-left: -40px;
  border-bottom: 1px solid var(--secondery-color);
  transition: var(--main-transition);
}

.video .info ul li p {
  color: var(--font-color);
  font-size: 16px;
  transition: var(--main-transition);
}

.video .video-img {
  background-color: #e2e2e2;
  margin-top: 16px;
}

.video .video-img .hosts {
  width: 790px;
  height: 60px;
  background-color: white;
  margin-left: 15px;
  padding: 20px;
}
/* END VIDEO */

/* START STATS */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .stats {
    height: 700px;
  }

  .stats .our-stats {
    flex-wrap: wrap;
    width: 800px;
    justify-content: start;
  }

  .stats .our-stats .stat {
    margin-bottom: 20px;
  }

  .stats .heading {
    margin-left: -100px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .stats {
    height: 470px;
  }

  .stats .our-stats {
    flex-wrap: nowrap;
    width: 1180px;
    justify-content: center;
  }

  .stats .heading {
    margin-left: 200px;
  }
}
/* END MEDIA CONDITIONS */

.stats {
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Three/imgs/stats.jpg);
  background-size: cover;
  position: relative;
  z-index: -1;
  margin-top: 100px;
}

.stats .overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.925);
  width: 100%;
  height: 100%;
}

.stats .our-stats {
  display: flex;
  text-align: center;
  margin-left: 80px;
}

.stats .our-stats .stat {
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  width: 290px;
  margin-left: 20px;
  position: relative;
}

.stats .our-stats .stat span {
  font-size: 50px;
  font-weight: bold;
  display: block;
  margin: 15px 0px;
}

.stats .our-stats .stat h1 {
  color: var(--main-color);
  font-size: 20px;
}

.stats .heading h1 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}

.stats .heading {
  padding-top: 100px;
}
/* END STATS */

/* START DISCOUNT */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .discount .discount-img {
    width: 100%;
  }

  .discount .container {
    flex-wrap: wrap;
    width: 770px;
  }

  .discount .text {
    right: 150px;
  }

  .discount form {
    width: 600px;
    margin-left: 250px;
  }

  .discount .request {
    text-align: center;
  }
}

/* Large */
@media (min-width: 1200px) {
  .discount .discount-img {
    width: 680px;
  }

  .discount .container {
    flex-wrap: nowrap;
    width: 1050px;
  }

  .discount .text {
    right: 70px;
  }

  .discount form {
    width: 300px;
    margin-left: 0px;
  }

  .discount .request {
    text-align: left;
  }
}
/* END MEDIA CONDITIONS */

.discount .discount-img {
  position: relative;
  height: 650px;
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Three/imgs/discount-background1.jpg);
  background-size: cover;
  z-index: -1;
}

.discount .overlay {
  background-color: rgb(23 135 224 / 97%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.discount .container {
  display: flex;
  justify-content: space-between;
}

.discount .text {
  text-align: center;
  color: white;
  position: absolute;
  line-height: 1.5;
  margin-top: 50px;
  font-size: 18px;
}

.discount .text h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.discount .text + img {
  width: 300px;
  position: absolute;
  left: 200px;
  top: 50%;
}

.discount form {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
}

.discount form input {
  width: 370px;
}

.discount form textarea {
  height: 200px;
}

.discount form .input-submit {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition: var(--main-transition);
}

.discount form input,
.discount textarea {
  padding: 15px;
  width: 340px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
  font-family: inherit;
  color: var(--font-color);
}
/* END DISCOUNT */

/* START END */

/* Start  MEDIA CONDITIONS */

/* Small */
@media (min-width: 768px) {
  .the-end .elzero {
    height: 800px;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .the-end .elzero {
    height: 500px;
    flex-wrap: nowrap;
  }
}
/* END MEDIA CONDITIONS */

.the-end .elzero {
  background-color: #191919;
  display: flex;
  padding-left: 50px;
  position: relative;
  width: 1515px;
}

.the-end .elzero .contact ul {
  margin-top: 80px;
}

.the-end .elzero li ul {
  display: flex;
  margin-left: -40px;
}

.the-end .elzero li ul li {
  margin-right: 15px;
}

.the-end .elzero .contact h1 {
  font-size: 50px;
  color: white;
  margin-bottom: -70px;
}

.the-end .elzero .contact p {
  line-height: 2;
  color: #b9b9b9;
}

.the-end .elzero .contact i {
  background-color: #313131;
  color: #b9b9b9;
  padding: 15px;
  font-size: 20px;
  transition: var(--main-transition);
}

.the-end .elzero .links {
  margin-left: 50px;
  margin-top: 75px;
}

.the-end .elzero .links ul {
  width: 320px;
}

.the-end .elzero .links li {
  padding: 25px;
  border-bottom: 1px solid #444;
  position: relative;
}

.the-end .elzero .links ul :nth-child(5) {
  border-bottom: none;
}

.the-end .elzero .links a {
  color: #b9b9b9;
  transition: var(--main-transition);
  position: absolute;
  bottom: 13px;
}

.the-end .elzero .location {
  margin-top: 65px;
}

.the-end .elzero .location ul li {
  display: flex;
  margin-bottom: 15px;
}

.the-end .elzero .location i {
  margin-right: 15px;
  margin-top: 15px;
  color: var(--main-color);
  font-size: 25px;
}

.the-end .elzero .location p {
  color: #b9b9b9;
  line-height: 1.5;
}

.the-end .elzero .photos {
  margin-left: 20px;
  margin-top: 50px;
  margin-right: 70px;
}

.the-end .elzero .photos img {
  width: 80px;
  height: 80px;
  border: 2px solid white;
}

.the-end .elzero .photos ul {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.the-end .foot {
  width: 100%;
  margin-top: 100px;
  padding: 5px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #444;
}

.the-end .foot p {
  text-align: center;
  color: white;
  font-size: 18px;
}
